@import url("https://fonts.googleapis.com/css?family=Montserrat");

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #151515;
  font-size: 22px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .content {
    flex: 0.5;

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      font-size: 4em;
      margin-bottom: 0;
    }

    .linkedin {
      display: inline-block;
      margin-top: 1em;
      fill: #151515;
      transition: 0.3s;
      transform: scale(0.6);
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.social {
  text-align: center;
}
