@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");

body {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  background-color: #1c1c1c;
  color: #f4f4f4;
  font-size: 22px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .content {
    flex: 0.5;

    h1,
    h2 {
      text-align: center;
    }
  }
}

.button.typing {
  width: 100%;

  .heading {
    text-align: left;
    padding: 0 0 1em 1em;
  }

  .hint {
    display: none;
  }

  .textarea {
    display: block;
  }
}

.button {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 1em;
  display: block;
  margin: 0 auto;
  border: 1px solid #008cff;
  background: transparent;
  color: #008cff;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.1em;
  width: 7em;
  text-align: center;

  &:hover {
    color: #f4f4f4;
    background-color: #008cff;
  }

  .heading {
    text-align: center;
  }

  .hint {
    color: #d8d8d8;
    font-size: 0.7em;
  }

  .textarea {
    display: none;
    background: transparent;
    color: #f4f4f4;
    border: 0;
    resize: none;
    outline: none;
    outline-color: #008cff;
    width: 90%;
    padding: 1em;
    margin: 0 auto;
  }
}
